@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  -ms-overflow-style: none;
  font-family: "Pretendard-Regular";
  background: #EBFFF9;
  width: 375px;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  background: #EBFFF9 url("/images/Star 11.svg") no-repeat center 40px;
  background-size: 150%;
  position: relative;
}

.Topnav {
  justify-content: space-between;
  display: flex;
  margin: 20px 17px 0px 17px;
  align-items: center;
  height: 46px;
}
.Topnav-left-container,
.Topnav-right-container {
  cursor: pointer;
  margin: 0;
  height: 42px;
}
.Topnav-left-arrow {
  width: 42px;
  height: 42px;
  margin: -12px 40px 0px -5px;
}
.Topnav-title {
  font-size: 20px;
  font-weight: 800;
  font-family: "DM Sans";
  margin-top: -22px
}
.Topnav-open-url {
  width: 36px;
  height: 36px;
  margin: -7px 0px 0px 35px;
}
.QR-Scan-3D {
  margin: 39px 135px 20px 115px;
}
.Modal {
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding-top: 19.2px;
  padding-bottom: 31px;
  position: relative;
}
.URL {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4.6px 20px 0px 20px;
}
.Download-button {
  width: 38px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #D2FFF1;
  border-radius: 7px;
  margin-left: 5px;
}

.Download {
  width: 26px;
  height: 26px;
  cursor: pointer;
}


.URL-input-container {
  background-color: #F2F2F2;
  border-radius: 100px;
  width: 270px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 0px;
  margin-right: 8px;
}
.url-input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  margin-left: 0px;
  padding: 0;
  font-family: "Pretendard-Regular";
}

input[type="text" i] {
  padding: 0;
}

.Search-button {
  display: flex;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  margin-right: 6px;
}

.Search-button img {
  width: 32px;
  height: 32px;
}

/* Nav 관련 코드 삭제됨 */

.Image {
  background-color: #F2F2F2;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 144.2px;
  margin: 24px 20px 0px 20px;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.Image-container {
  border-radius: 50%;
  position: relative;
  width: 44px;
  height: 44px;
  margin-bottom: 12px;
  background-color: #F2F2F2;
  justify-content: center;
  display: flex;
  align-items: center;
}

.Image {
  background-color: #F2F2F2;
  width: 319px;
  height: 299px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 21px 28px 16.9px 28px;
}
.Image img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}