@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  -ms-overflow-style: none;
  font-family: "Pretendard-Regular";
  height: 600px;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  background: #F7F3FF url("/images/historystar.png") no-repeat center 55px;
  background-size: 500px 530px;
  position: relative;
}

.Topnav {
  width: 375px;
  height: 46px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.Topnav-left-container,
.Topnav-right-container {
  cursor: pointer;
}
.Topnav-left-arrow {
  width: 46px;
  height: 46px;
  margin: 25px 0px 0px 10px;
}
.Topnav-title {
  font-size: 22px;
  font-weight: 800;
  margin-top: 24px;
  font-family: "DM Sans";
  color:#225C4B;
}
.Topnav-open-url {
  width: 46px;
  height: 46px;
  margin: 25px 10px 0px 0px;
}
.URL-Info-3D {
  margin: 40px 0px 10.2px 105px;
}
.Modal {
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding-top: 19.2px;
    padding-bottom: 31px;
    position:relative;
}
.history-title {
  letter-spacing: 0.05em;
  text-align: left;
  color: #71727A;
  font-weight: 600;
  font-size: 12px;
  margin: 16px 0px 8px 32px;
  font-family: "Pretendard-Regular";
}

.blocked-url-list-container {
  margin-left: 32px;
  padding-right: 32px;
  overflow: hidden;
}

.blocked-url-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  font-family: "Pretendard-Regular";
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 8px; 
}

.url-text {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1; 
  margin-right: 10px; 
  max-width: calc(100% - 50px); 
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  flex-shrink: 0; 
  width: 26px; 
  height: 26px;
}
