@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
body {
  margin: 0;
  -ms-overflow-style: none;
  font-family: "Pretendard-Regular";
  background: #eefaff;
  max-width: 375px;
  margin: 0 auto;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  background: #E0F7F5 url("/images/QR-Scan-Star.svg") no-repeat center 40px;
  background-size: cover;
  position: relative;
  width: 375px; /* 고정 너비 설정 */
  height: 600px; /* 고정 높이 설정 (필요시 조정) */
  box-sizing: border-box;
  margin: 0 auto;
}



.Topnav {
  justify-content: space-between;
  display: flex;
  margin: 20px 17px 0px 17px;
  align-items: center;
  height: 46px;
}
.Topnav-left-container,
.Topnav-right-container {
  cursor: pointer;
  margin: 0;
  height: 42px;
}
.Topnav-left-arrow {
  width: 42px;
  height: 42px;
  margin: 0px 37px 0px 0px;
}
.Topnav-title {
  font-size: 18px;
  font-weight: 800;
  font-family: "DM Sans";
  color: #225c4b;
}
.Topnav-open-url {
  width: 42px;
  height: 42px;
  margin: 0px 0px 0px 37px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; /* 상하 여백 */
}

.centered-image {
  width: 124px;
  height: 121px;
  object-fit: cover;
}
.QR-Scan-3D {
  margin: 39px 126px 20px 125px;
}
.Modal {
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding-top: 19.2px;
  padding-bottom: 31px;
  position: relative;
}
.URL {
  display: flex;
  align-items: center;
  gap: 10px; /* 요소 간 간격 */
  padding: 5px 20px; /* 전체 URL 섹션의 좌우 여백 */
  box-sizing: border-box;
}

.Block-URL-button {
  width: 38px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffe7e7;
  border-radius: 7px;
  flex-shrink: 0;
}

.URL-input-container {
  background-color: #eaf2ff;
  border-radius: 71px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 15px; /* URL 입력 필드 안쪽 여백 */
  flex-grow: 1; /* 남은 공간을 차지하도록 설정 */
  box-sizing: border-box;
  margin-right: 10px; /* 오른쪽 여백 */
}

.url-input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  width: 100%; /* 입력 필드가 전체 너비를 차지하도록 설정 */
  font-family: "Pretendard-Regular";
}
.Search-button {
  display: flex;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  margin-right: 6px;
}

.Search-button img {
  width: 32px;
  height: 32px;
}

.Nav {
  height: 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 21px 20px 0px 20px;
  background-color: #F2F2F2;
  border-radius: 12px;
  padding: 0px 25px;
}

.Nav-select,
.Nav-non-select {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: 16px;
}

.Nav-select {
  font-weight: 600;
  color: #225c4b;
  cursor: pointer;
  border-right: 2px solid #c4c4c4;
  padding-right: 8px;
}

.Nav-non-select {
  font-weight: 500;
  color: #c4c4c4;
  cursor: pointer;
  padding-right: 0px;
}

.Nav-non-select:not(:last-child) {
  border-right: 2px solid #c4c4c4;
  padding-right: 8px;
  padding-left: 8px;
}

.Upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 144.2px;
  margin: 24px 20px 0;
  background-color: #f2f2f2;
  border-radius: 12px;
  cursor: pointer;
}

.Upload-image-container {
  border-radius: 50%;
  position: relative;
  width: 44px;
  height: 44px;
  margin-bottom: 12px;
  background-color: #F9F9F9;
  justify-content: center;
  display: flex;
  align-items: center;
}
.Upload img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block; /* 이미지 주변 공백 방지 */
}
.Upload-img {
  width: 24px;
  height: 24px;
}

.Upload-text-container {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  visibility: visible;
  opacity: 1;
}
.hidden {
  visibility: hidden;
  opacity: 0;
}

.Upload-text-1 {
  color: #006ffd;
  font-weight: 500;
  font-size: 14px;
}
.Upload-text-2 {
  color: #353535;
  font-weight: 400;
  font-size: 14px;
}

.Upload.dragover,
.Image.dragover {
  background-color: #f0f0f0;
}