@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    -ms-overflow-style: none;
    font-family: "Pretendard-Regular";
}

::-webkit-scrollbar {
    display: none;
}

.container {
    background: #FFEFD7 url("/images/URL-Info-Star.svg") no-repeat center 55px;
    background-size: 500px 530px;
    position: relative;
}
.Topnav {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 46px;
}
.Topnav-left-container,
.Topnav-right-container {
    cursor: pointer;
}
.Topnav-left-arrow {
    width: 46px;
    height: 46px;
    margin: 25px 0px 0px 10px;
}
.Topnav-title {
    font-size: 24px;
    font-weight: 800;
    margin-left: 5px;
    margin-top: 24px;
    font-family: "DM Sans";
}
.Topnav-open-url {
    width: 46px;
    height: 46px;
    margin: 25px 10px 0px 0px;
}
.URL-Info-3D {
    margin: 50px 104px 19.2px 104px;
}
.Modal {
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding-top: 19.2px;
    padding-bottom: 31px;
    position: relative;
}
.URL {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 5px 16px 0px 16px;
}
.Block-URL-button {
    margin: 0;
    width: 16px;
    height: 16px;
    padding: 0;
    justify-content: center;
    display: flex;
}
.Block-URL {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.URL-input-container {
    background-color: #eaf2ff;
    border-radius: 71px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 14px;
}
.url-input {
    border: none;
    background-color: transparent;
    margin: 10px 12px 10px 16px;
    outline: none;
    font-size: 14px;
    width: 239px;
    font-family: "Pretendard-Regular";
}
.Search-button {
    display: flex;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    margin-right: 6px;
}

.Search-button img {
    width: 32px;
    height: 32px;
}


.content {
    margin: 16px;
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 24px 0px 20px 0px;
    height: 21px;
}
.icon-group {
    display: flex;
    align-items: center;
}
.status-icon{
    margin-left: 5px;
}
.status-text{
    font-size: 17px;
    font-weight: 500;
    margin-left: 16px;
}

.toggle-content {
    display: none;
    margin: 24px 8px 0px 8px;
}
.toggle-content.active {
    display: block;
}
.toggle-item {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #C5C6CC;
    border-radius: 12px;
    padding: 14px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.icon {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.icon img {
    width: 100%;
    height: 100%;
}
.hr {
    border: none;
    height: 0.5px;
    background-color: #C5C6CC;
    border-radius: 4px; 
}

/* 튜토리얼 info 버튼*/
.tutorial-btn {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 0px;
    position: absolute;
    right: 10px;
    top: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tutorial-btn:hover {
    background-color: #999;
}

.info-icon {
    width: 20px;
    height: 20px;
}

/* 튜토리얼 info. 피그마 작업 후 대체되면 수정할 예정 */
.tutorial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorial-step {
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    max-width: 120px;
    text-align: center;
    color: white;
    font-size: 14px;
}

.tutorial-close {
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    max-width: 140px;
    text-align: center;
    color: white;
    font-size: 15px;
}